*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    overflow-x:hidden;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
}

.hero{
    height:100vh;
    position:relative;
        background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

#webgl{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.hero-content{
    position:relative;
    z-index:10;
    width:90%;
    max-width:1200px;
    margin:auto;
    padding-top:25vh;
}

.title{
    font-size:60px;
    line-height:.9;
}

.desc{
    margin-top:25px;
    font-size:20px;
}

.btn{
    margin-top:40px;
    padding:15px 35px;
}



.statement{
    min-height:100vh;
    display:flex;
    align-items:center;
    background:#fff;
    padding:120px 8%;
}

.statement-text{

    font-size:72px;
    line-height:1.15;
    font-weight:300;
    max-width:1200px;

}

.statement-text .word{

    color:#d4d4d4;

}


.counter-section{
    width:min(1400px,90%);
    margin:120px auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:60px;
}

.counter-item{
    border-top:1px solid rgba(0,0,0,.1);
    padding-top:25px;
}

.counter-item h2{
    font-size:80px;
    font-weight:600;
    line-height:1;
}

.counter-item p{
    margin-top:15px;
    color:#777;
    font-size:18px;
}

@media(max-width:900px){

.counter-section{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.counter-section{

grid-template-columns:1fr;

}

}